<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/illustrations/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/illustrations/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/illustrations/favicon-16x16.png">
    <link rel="manifest" href="/illustrations/site.webmanifest">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <title><%= title %></title>
    <link rel="stylesheet" href="/illustrations/style.css">
  </head>

  <body>
    <h1><%= header %> </h1>
    <div class="data"><%= dataStr %></div>
    <div class="gallery"></div>
    <div class="fullscreen-container">
      <div class="backdrop"></div>
      <div class="progress"></div>
    </div>
    <script src="/illustrations/script.js"></script>
  </body>
</html>
