<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/illustrations/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/illustrations/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/illustrations/favicon-16x16.png">
    <link rel="manifest" href="/illustrations/site.webmanifest">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <title><%= title %></title>
    <link rel="stylesheet" href="/illustrations/style.css">
  </head>
  <body>
    <div class="data"><%= dataStr %></div>

    <h1>
      <%= header %>
      <a href="https://github.com/LilyKensa/IllustrationsManager" target="_blank">
        <svg class="header-info-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <g clip-path="url(#eeeeeeclip0_429_11160)">
              <circle cx="12" cy="11.9999" r="9" stroke="#eeeeee" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></circle>
              <rect x="12" y="8" width="0.01" height="0.01" stroke="#eeeeee" stroke-width="3.75" stroke-linejoin="round"></rect>
              <path d="M12 12V16" stroke="#eeeeee" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
              </path>
            </g>
            <defs>
              <clipPath id="clip0_429_11160">
                <rect width="24" height="24" fill="white"></rect>
              </clipPath>
            </defs>
          </g>
        </svg>
      </a>
    </h1>

    <div class="gallery"></div>
    
    <div class="fullscreen-container">
      <div class="backdrop"></div>
      <div class="progress"></div>
    </div>

    <script src="/illustrations/script.js"></script>
  </body>
</html>
